body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #DAE0E6;
}

.App {
  width: 100%;
  height: 100vh;
  text-align: center;
}

link .tabIcon { 
  fill: orange !important;
 }

 h3, 
 h1 {
  font-family: 'Noto Sans', sans-serif;
  color:#ff4500;
 }

 i {
  margin-right: 10px;
  font-size: 2.5em;
  color:#ff4500;
 }

 a {
  text-decoration: none;
 }

 input {
  margin-left: 5px;
  background-color: rgb(100, 100, 100, 0.2);
  border-radius: 5px !important;
  border: none;
  height: 50px;
  width: 200px;
 }

.appHeader { 
  padding: 10px;
  background-color: white;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }

 .appLogo {
  width: 150px;
  height: 100px;
  box-shadow: none;
 }

.articles {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

img {
  max-width: 375px;
  max-height: 375px;
  box-shadow: 6px 6px 10px gray;
}

img:hover {
  transform: scale(1.05);
}

article {
  
  margin: 15px;
  width: 375px;
  height: 475px;
}

